# ================================
# SmartVote Backend Requirements
# Python 3.11 required
# ================================

# Web Framework
flask==3.1.3
flask-cors==6.0.2
werkzeug==3.1.8

# Rate Limiting
Flask-Limiter==4.1.1

# Email
Flask-Mail==0.10.0

# HTTP Requests (Fast2SMS OTP API)
requests==2.33.1

# Database
mysql-connector-python==9.6.0

# Blockchain
web3==7.15.0
py-solc-x==2.0.5

# Environment Variables
python-dotenv==1.2.2

# PDF Generation (receipts + EPIC voter card)
reportlab==4.4.10

# QR Code Generation
qrcode==8.2
pillow==12.2.0

# Image Processing (liveness detection)
opencv-python==4.13.0.92
numpy==2.4.4

# AI / Face Recognition
deepface==0.0.99
tensorflow==2.21.0
tf_keras==2.21.0
